<!DOCTYPE html>
<html>
<head>
    <title>Attendance Records</title>
</head>
<body>
    <h1>Attendance Records</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>USN</th>
            <th>Date Attended</th>
            <th>Status</th>
        </tr>
        {% for row in records %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back to Home</a>
</body>
</html>
